/*Partie Header*/
header
{
	position: relative;
	background-color: white;
	padding: 0.65vw;	
  	margin-top: -10px;
  	margin-left: -8px;
  	margin-right: -8px;
  	height: 56.5px;
}

#logo
{
	position: absolute;
	height: 70px;
	width: 70px;
	margin-left: 15px;
}

.liens 
{
    position: absolute;
    height: 55px;
    width: 270px;
    right: 0;
}

.liens img 
{
    height: 55px;
    width: 55px;
}

.lien-container 
{
    display: inline-block;
    position: relative;
}

.liens a 
{
    margin-right: 30px;
    text-decoration: none;    
}

.dropdown 
{
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0.65vw 0.71vh 2.84vh 0px rgba(0, 0, 100, 0.99);
	z-index: 3;
}

.dropdown a 
{
	margin-right: 0px;
  	color: black;
  	padding: 12px 16px;
  	text-decoration: none;
  	display: block;
}

.dropdown a:hover
{
	background-color: lightgray;
}

.liens img:hover
{
	background-color: lightgray;
}

.lien-container:hover .dropdown 
{
 	display: block;
}