/*Partie contenue / Body*/
body 
{
    font-family: Arial, sans-serif;
	background: #004aad;
}

.container 
{
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile
{
    display: flex;
    align-items: center;
}
.profile img 
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.profile .info 
{
    flex: 1;
}

.profile .info h2 
{
    margin: 0;
    font-size: 24px;
}

.profile .info p 
{
    margin: 5px 0;
    color: #666;
}

.points-container 
{
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.point 
{
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
    margin: 2px;
}

.dropdown-menu 
{
    display: none;
    position: absolute;
    top: 50px;
    right: -50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0.65vw 0.71vh 2.84vh 0px rgba(0, 0, 100, 0.99);
    z-index: 3;
}

.dropdown-menu a
{
    margin-right: 0px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover
{
    background-color: lightgray;
}

.dropdown-menu.active 
{
    display: block;
}

.conteneur_total{
    width: 70%;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 1px;
}

.search-container {
    width: 90%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#offres{
    display: inline-block;
    background-color: red;
}


.search-button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.pagination {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.pagination button {
    background-color: #fff;
    border: none;
    color: black;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
}

.pagination button:hover {
    background-color: #007bff;
    color: white;
}
