body{
    color: rgb(255, 255, 255);
    font-family: Arial;
    background: #004aad;
}

#tableau{
    margin: 0 auto;
    border: 2px solid #ffffff;
    border-color: white;
    border-radius: 20px;
    margin-top: 70px;
    padding: 10px;
    width: 500px;
}

#renseignement input{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
    border-radius: 20px;
    padding: 10px;
}

#renseignement select{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
    border-radius: 20px;
    padding: 10px;
}

#titre{
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

#champs{
    display: block;
    font-size: 10px;
    font-style: italic;
    margin-left: 65px;
    margin-bottom: 50px;
}

#finir{
    display: block;
    text-align: center;
}

#bouton{
    font-size: 20px;
    border: 0;
    border-radius: 20px;
    padding: 10px;
}

.caselongue {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
}